.logo-animation {
	margin-bottom: -7.75rem;
	animation: move 6s forwards normal running linear;
}

.first-text {
	animation: reveal-first-text 2s forwards;
}

.second-text {
	animation: reveal-second-text 2s 2s;
}

.third-text {
	animation: reveal-third-text 2s 4s;
}

.fourth-text {
	animation: reveal-fourth-text 2s forwards 6s;
}

@keyframes move {
	0% {
		transform: translateY(0rem);
	}
	25% {
		transform: translateY(-3.5rem);
	}
	50% {
		transform: translateY(-5.125rem);
	}
	100% {
		transform: translateY(-7.5rem);
	}
}

@keyframes reveal-first-text {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes reveal-second-text {
	0% {
		opacity: 1;
		margin-top: -2rem;
	}
	50% {
		opacity: 1;
		margin-top: -2rem;
	}
	100% {
		opacity: 0;
		margin-top: -2rem;
	}
}

@keyframes reveal-third-text {
	0% {
		opacity: 1;
		margin-top: -4rem;
	}
	50% {
		opacity: 1;
		margin-top: -4rem;
	}
	100% {
		opacity: 0;
		margin-top: -4rem;
	}
}

@keyframes reveal-fourth-text {
	0% {
		opacity: 1;
		margin-top: -6rem;
	}
	50% {
		opacity: 1;
		margin-top: -6rem;
	}
	100% {
		opacity: 1;
		margin-top: -6rem;
	}
}
