.game-container {
	overflow: hidden;
}

.road {
	top: 45%;
	left: 0px;
}

.selected-item {
	left: 3%;
	top: 14%;
	background: rgba(72, 48, 4, 0.48);
	border: 2px solid #ffffff;
	border-radius: 8px;
	z-index: 15;
}

.selected-item:hover {
	cursor: -moz-grab;
	cursor: -webkit-grab;
	cursor: grab;
}

.selected-item:active {
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

.bulk-pickup-truck {
	position: absolute;
	top: 38%;
	left: 71%;
	z-index: 10;
	max-width: 250px;
}

.repurpose-box {
	position: absolute;
	left: 10%;
	bottom: 10%;
	max-width: 180px;
}

.trash-bin {
	position: absolute;
	left: 48%;
	bottom: 0.75rem;
	max-width: 80px;
}

.recycle-bin {
	position: absolute;
	left: 60%;
	bottom: 0.75rem;
	max-width: 90px;
}

.hazardous-waste-bin {
	position: absolute;
	left: 72%;
	bottom: 0.75rem;
	max-width: 95px;
}

.compost-bin {
	position: absolute;
	left: 84%;
	bottom: 0.75rem;
	max-width: 100px;
}

.tree {
	left: 54%;
	max-width: 50px;
}

.flower {
	left: 8%;
	max-width: 55px;
}

.ground {
	border: 1.1px solid #2c3826;
	transform: matrix(1, 0, 0.01, 1, 0, 0);
}

.zoom-droppable-container {
	transform: scale(0.7);
	transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
	opacity: 0.4;
}
