.game-container {
	overflow: hidden;
}

.bulk-pickup-track {
	top: 31%;
	left: 69%;
	z-index: 10;
}

.road {
	top: 40%;
	left: 0px;
}

.item-picker {
	left: 8%;
	top: 12%;
	background: rgba(72, 48, 4, 0.48);
	border: 2px solid #ffffff;
	border-radius: 8px;
}

.ground {
	border: 1.1px solid #2c3826;
	transform: matrix(1, 0, 0.01, 1, 0, 0);
}

.tree {
	left: 56%;
	max-width: 55px;
}

.flower {
	left: 8%;
	max-width: 65px;
}
