.items-carousel-container {
	top: 2.5%;
	left: 18%;
	background: rgba(14, 72, 4, 0.32);
	box-shadow: 0px 6px 0px rgba(14, 72, 4, 0.56);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border-radius: 24px;
}

.carousel-item:hover {
	background: rgba(72, 48, 4, 0.48);
	border: 2px solid #ffffff;
	border-radius: 8px;
	cursor: pointer;
}

.carousel-scroll-button:hover {
	background: rgba(72, 48, 4, 0.48);
}
