.landing-page-description-area {
	max-width: 600px;
}

.how-to-play-icon {
	background: #ffb703;
	box-shadow: 0.666667px 1.33333px 0px #fea302,
		inset 1.27217px 1.27217px 1.27217px rgba(255, 238, 181, 0.32);
}

.how-to-play-icon:hover {
	background: #ffc534;
}

.how-to-play-icon:active {
	background: #f8b40b;
	box-shadow: inset 1.27217px 1.27217px 1.27217px rgba(255, 238, 181, 0.32);
}

.play-button {
	border: 1px solid #ffb703;
	box-shadow: 8px 8px 0px #fea302, inset 4px 4px 4px rgba(255, 238, 181, 0.32);
}

.play-button:hover {
	background: #ffc534;
	border: 1px solid #f8b40b;
}

.play-button:active {
	background: #f8b40b;
	box-shadow: inset 4px 4px 4px rgba(255, 238, 181, 0.32);
}

.mz-carnate {
	width: 400px;
}

.mz-carnate-bottom-line {
	border-bottom: 2px solid #2a1c02;
}
